{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Access your Personal Health Record{{serviceName}}{% endblock %}

{% block pageTitle %}Access your Personal Health Record{% endblock %}

{% block content %}


        <div class="header-panel">
          <h1 class="h2 header">
            Manage and view your health information
          </h1>

        </div>


  <p>This service gives you the ability to manage and view all your personal health information in one place and, if you wish, share and view this information with trusted carers, health professionals, your loved ones and family members.</p>

    <h3 class="h3 header">Before you start</h3>

    <ul>
      <li>You’ll need your GOV.UK Verify account details.</li>
      <li>You can create a new account as part of registering for this service.</li>
    </ul>

    <div class="cta shunt">
      <a href="http://govuk-verify-loa1.herokuapp.com/intro?requestId=leeds-person-held-record&userLOA=0" class="button">Start</a>
    </div>

  </div>

{% endblock %}

{% block footer %}{% endblock %}