{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Set up a password{{serviceName}}{% endblock %}

{% block pageTitle %}Set up a password{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <h1>Change password</h1>
      <div class="form-group">
        <label class="form-label" for="field3">New password</label>
        <p class="small">Your password must have:</p>
        <ul>
          <li class="small">at least 8 characters</li>
          <li class="small">at least one capital letter</li>
          <li class="small">at least one number</li>
          <li class="small">at least one symbol, for example: ?!£%</li>
        </ul>
        <input class="form-control" id="field3" name="field3" type="password">
      </div>
      <div class="form-group">
        <label class="form-label" for="field2">Retype password</label>
        <input class="form-control" id="field2" name="field2" type="password">
      </div>

    </div>
    <a class="button" href="change-password-success">Continue</a>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}