{% extends '_layouts/layout_2-3-signed-in.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div>
	<h1>Your NHS account</h1>
	<h3 id="conditions" class="heading-large">Personal details</h3>
	<!-- <p><b>Name:</b><br>John Maurice King</p>
	<p><b>Address:</b><br>
		72 Tong Road,<br>
		Pudsey,<br>
		Leeds<br>
		LS12 3QK</p>
	<p><b>Phone number:</b><br>
		07779 000333</p> -->
	<p><b>Email:</b><br>johnmaurice93@hotmail.com</p>
	<h3 id="conditions" class="heading-large">Password</h3>
	<p><a href="two-step-code-password">Change password</a></p>

	


</div>

{% endblock %}

{% block rightcol %}



{% endblock %}

{% block footer %}{% endblock %}

