{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Manage and view your health information{{serviceName}}{% endblock %}

{% block pageTitle %}Manage and view your health information{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset >
        <h1><legend>About Your GP</legend></h1>
        <div class="form-group">
          <label class="form-label" for="searchGP">Find your GP practice - Search by name/location</label>
          <input type="text" name="searchGP" id="searchGP" class="form-control" />
        </div>
        <!-- <ul>
          <li>Verify - highest level</li>
          <li>Patient Online </li>
        </ul> -->

        <!-- 
          <div style="display: inline-block; margin-right: 50px;">
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="/national06/verify">
            Verify
          </label>
        </div>
        <div style="display: inline-block;">
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/national06/pol">
            Patient Online
          </label>
        </div>
        <div style="display: inline-block;">
          <label class="block-label selection-button-radio" for="radio-inline-3">
            <input id="radio-inline-3" type="radio" name="radio-inline-group" value="/national06/offline">
            None of the above
          </label>
        </div>
      -->
      </fieldset>
    </div>
    <div class="form-group">
      <p><a href="pol-details" class="button" id="continue">Continue</a></p>
    </div>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}