{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Set up a password{{serviceName}}{% endblock %}

{% block pageTitle %}Set up a password{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <h1>Privacy policy</h1>
      <p>NHS Digital will act as the data controller of information you input into the NHS Account service. If you are concerned you can contact the NHS Digital data protection officer via email at enquiries@nhsdigital.nhs.uk</p>
      <p>You have the right to access your personal data, to rectify, erase and restrict your personal data and to withdraw your consent to processing of your information.</p>
      <p>If you’re unhappy with the privacy policy please contact the Information Commissioners Office. </p>

      <h3>Cookies</h3>
      <p>NHS account puts small files (known as 'cookies') on to your computer.</p>
      <p>These cookies are used to:</p>
      <ul>
        <li>understand how you use the service to make improvements</li>
        <li>remember any notifications you've seen so that you're not shown them more than once</li>
        <li>keep your information secure as you move through the service</li>
      </ul>

      <h3>Cookies used by the NHS Account</h3>
      <p>xxx collects information about how you use the service. This information is used to improve the service.</p>
      <p>xxx cookies collect and store information about:</p>
      <ul>
        <li>the pages you visit - what you click on when using the service</li>
        <li>how long you spend on each page</li>
        <li>how you got to the service</li>
      </ul>

      <h3>Session and security cookies</h3>
      <p>Session cookies keep your information secure as you move back and forward through the service.</p>
      <p>These cookies are automatically removed from your computer when you complete your application or if you:</p>
      <ul>
        <li>don't do anything for XX minutes</li>
        <li>close your browser</li>
        <li>switch off your computer</li>
      </ul>

    </div>
    <p><a href="acc-password">Back to create account</a></p>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}