{% extends '_layouts/layout_2-3-signed-in.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div>
	<h2>Your Care Information Exchange service</h2>
	<p>Current Services</p>
	<ul>
		<li>Book GP Online</li>
	</ul>

	<h3>Verify your identity to get the most out of your Care Information Exchange</h2>
	<div>
		<label class="block-label selection-button-radio" for="radio-inline-1">
		  <input id="radio-inline-1" type="radio" name="radio-inline-group" value="https://nhs-id-2.herokuapp.com/intro">
		  Create a GOV.UK Verify account       
		</label>
		<p style="clear: both; font-size: 12pt; opacity: .75;">Select this option if you have access to a mobile phone and you can download apps.</p>          
	  </div>
	  <div>
		<label class="block-label selection-button-radio" for="radio-inline-2">
		  <input id="radio-inline-2" type="radio" name="radio-inline-group" value="hub-offline-choices">
		  I prefer to go somewhere in person    
		</label>
		<p style="clear: both; font-size: 12pt; opacity: .75;">Select this option if you do not have access to a mobile phone.</p>          
	  </div>
	  <div class="form-group">
			<a class="button" href="#" id="continue">Continue</a>
		  </div>
<!--

	<a href="" class="button">Create a GOV.UK Verify account</a>
	<a href="">I already have a GOV.UK Verify account</a>
-->


	


</div>

{% endblock %}

{% block rightcol %}



{% endblock %}

{% block footer %}{% endblock %}

