{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Connect to NHS Wifi{{serviceName}}{% endblock %}

{% block pageTitle %}Connect to NHS Wifi{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <h1><legend>Sign in with your GP online login details</legend></h1>

      <p>What website/app do you use for GP Online?</p>
      <img src="/images/pol-choices.png" />
    </div>
    <a class="button" href="gponline-login-2">Continue</a>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
