{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Set up a password{{serviceName}}{% endblock %}

{% block pageTitle %}Set up a password{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">
        <h1><legend>Access Your Medical Record</legend></h1>

        <!-- <p>title tbc:</p>
        <ul>
          <li>Because access to sensitive info need to confirm who you are</li>
          <li>more info tbc</li>
        </ul> -->
  
      </fieldset>
    </div>
    <div class="form-group">
      <a href="hub-login" class="button" id="continue">Continue</a>
    </div>
    
  </form>
</div>

<!-- <div class="first-item">
  <form>
    <div class="form-group">

      <h1>Who are ya!</h1>
      <p>Because access to sensitive info used to confirm who are</p>

    </div>
    <p><a class="button" href="hub-login">Continue</a></p>
  </form>
</div> -->

{% endblock %}

{% block footer %}{% endblock %}