{% extends '_layouts/layout_ids.html' %}

{% block page_title %}Manage and view your health information{{serviceName}}{% endblock %}

{% block pageTitle %}Manage and view your health information{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
          <p>50% complete</p>
        <h1><legend>Scan your photo ID</legend></h1>
       <div style="float:left; width: 50%">
         <p>Place your doc...</p>
        <ul >
          <li>instruction 1</li>
          <li>Instruction 2</li>
          <li>Instruction 3</li>
        </ul>
       </div>
        
        <img style="float:right;width:50%;" src="/images/id-station-scan-docs.jpg" />

</fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="id-station-3a-scanning" id="continue">Go</a>
    </div>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}