{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Create an NHS Account{{serviceName}}{% endblock %}

{% block pageTitle %}Create an NHS Account{% endblock %}

{% block content %}

<div class="first-item">

  <div class="form-group">

    <h1>We have sent you another email</h1>

    <p>We need to validate your email address. Please check your email.</p>
    <p>If you haven't received the email check your spam folder.</p>
    <p><a href="acc-login">You can login to your NHS account here</a>.</p>

  </div>
    
</div>

{% endblock %}

{% block footer %}{% endblock %}
