{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <span class="section-header">Security code</span>

        <h1>Thank you</h1>

        <p>Your NHS account is now secured with your phone <br>07779 000333.</p>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="dashboard" class="button" id="continue">Continue to your NHS account</a>
    </div>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}

