<div>
  <h2>Tasks **PLACEHOLDER</h2>
    <p style="margin-bottom:16px;"><a href="#">Book an appointment with a GP</a></p>
    <p>**Should the register link be included here as well as being in its own dedicated section?</p>
    <p>**Also, is there anything else that sits within here on the MVP that would be of value? Or does the Book an appointment link becomes a button that sits at the top of the page?.</p>
    <p style="margin-bottom:16px;"><a href="#">Register with this practice</a></p>
</div>
