{% extends '_layouts/layout_email.html' %}

{% block page_title %}NHS account{{serviceName}}{% endblock %}



{% block content %}

<div class="first-item" style="padding-bottom: 250px; width: 66%;" >
  <h1>Verify your email address</h1>
  <p>Before you can use your NHS account you need to verify your email address.</p>

  <p>If you didn't create an NHS account using this email address please ignore this email and we will delete the NHS account after 24 hours.</p>
  <p><a class="button" href="verified-email">Verify my account</a></p>
  <p>Or verify using this link:<br><a href="verified-email">http://prove-my-identity.herokuapp.com/alpha06/verified-email</a></p>
</div>

{% endblock %}

{% block footer %}{% endblock %}
