{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div class="first-item">

    <div>

        <span class="section-header">Access your Leeds Care Record</span>

        <h1>Prove your identity</h1>

        <p>In order to access your record you’ll need to prove your identity using GOV.UK Verify. This will only take a few minutes and is all done online.</p>
        <p>We need to do this to protect and avoid any misuse of your data.</p>

		<p><a href="http://govuk-verify-loa1.herokuapp.com/intro?requestId=leeds-person-held-record&userLOA=0" class="task-button">Verify with GOV.UK</a></p>


    </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}

