{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Manage and view your health information{{serviceName}}{% endblock %}

{% block pageTitle %}Manage and view your health information{% endblock %}

{% block content %}

  <div class="header-panel">
	  <h1>
	    Access your Leeds Care Record
	  </h1>

	</div>
  
  <p>This service is for people in the Leeds area.</p>

  <p>Use this service to:</p>
  <ul>
    <li>manage and view all your personal health information in one place</li>
    <li>share and view your information with trusted carers, health professionals, friends or family</li>
  </ul>

    <div class="cta shunt">
      <a href="sign-in" class="button">Start</a>
    </div>

  </div>

{% endblock %}

{% block footer %}{% endblock %}