<h2>When reception is open</h2>
      <p>Reception is open today until 8.30pm.</p>
<details role="group" >
  <summary data-analytics="summary" role="button">
    <span class="details__summary">See all opening times</span>
  </summary>
  <div id="details-content-0" aria-hidden="true">
    <div class="card__container">
      <table>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>8am to 6pm</td>
            <td>6.30pm to 8.30pm</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>8am to 6pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>8am to 6pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>8am to 6pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>8am to 6pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Closed</td>
            <td> </td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Closed</td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</details>
