<h2>When reception is open</h2>
<table>
  <tbody>
      <tr>
          <td>Monday</td>
          <td>7:30am to 8pm</td>
          <td> </td>
      </tr>
      <tr>
          <td>Tuesday</td>
          <td>7:30am to 6pm</td>
          <td> </td>
      </tr>
      <tr>
          <td>Wednesday</td>
          <td>7:30am to 6pm</td>
          <td> </td>
      </tr>
      <tr>
          <td>Thursday</td>
          <td>7:30am to 6pm</td>
          <td> </td>
      </tr>
      <tr>
          <td>Friday</td>
          <td>7:30am to 6pm</td>
          <td> </td>
      </tr>
      <tr>
          <td>Saturday</td>
          <td>9:30am <br class="br__table"/>to 12:30pm</td>
          <td> </td>
      </tr>
      <tr>
          <td>Sunday</td>
          <td>9:30am <br class="br__table"/>to 12:30pm</td>
          <td> </td>
      </tr>
  </tbody>
</table>
