@import "nhsuk";

// new styles under here

$leading: 16px;
$pure-white: #fff;

h1, h1>legend { 
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
}

.global-header__link {
	background: url("/images/logotype-nhs-colour__reverse.png") no-repeat;
}

.page-section {
	padding: 65px 0;
}

p.small, li.small {
  font-size: 16px;
  line-height: 1.1em;
}
p.small {
  line-height: 1.2em;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='tel'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 16px 0 32px 0;
  padding: 8px;
  border: 2px solid #005EB8;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 32px;
}

@media (min-width: 500px) {
  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='email'],
  input[type='tel'] {
    width: 75%;
  }
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='tel']:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

input[type='text'].-small,
input[type='number'].-small,
input[type='password'].-small,
input[type='email'].-small,
input[type='tel'].-small {
  width: 8em;
}

input[type='text'].code,
input[type='number'].code,
input[type='password'].code,
input[type='email'].code,
input[type='tel'].code {
  width: 50%;
}

span.section-header {
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
}


.-date div {
  float: left;
  padding-right: 1em;
}

.-date .day,
.-date .month {
  width: 3em;
}

.-date .year {
  width: 4em;
}

.error-summary {
  margin: 32px 0;
}

.error-summary > div {
  float: left;
  border-top: 2px solid #D81E05;
  background-color: #fbe9e6;
  padding: 0 32px;
  color: #a61704;
}

.error-summary a {
  color: #a61704;
}

.error-hint {
  display: block;
  color: #D81E05;
}

.form-group.-errors {
  border-left: 4px solid #D81E05;
  padding-left: 20px;
}

.form-group.-errors input,
.form-group.-errors textarea {
  border-color: #D81E05;
  border-width: 4px;
}

// radio check styles //

.block-label {
  display: block;
  position: relative;
  width: auto;
  padding: 7px 0 7px 50px;
  margin: 16px 0;
  cursor: pointer;
  font-size: 20px;
}

@media (min-width: 500px) {
  .block-label {
    float: left;
    clear: both;
  }
}

.block-label input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
}

.block-label input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.block-label.selection-button-radio::before {
  content: "";
  border: 3px solid #005EB8;
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-label.selection-button-radio::after {
  content: "";
  border-radius: 50%;
  background: currentColor;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.block-label.selection-button-checkbox::before {
  content: "";
  border: 3px solid #005EB8;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-label.selection-button-checkbox::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: 11px;
  left: 9px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.block-label.selection-button-radio.focused::before, .block-label.selection-button-checkbox.focused::before {
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

.block-label.selection-button-radio.selected::after, .block-label.selection-button-checkbox.selected::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.inline div {
  display: inline-block;
  margin-right: 50px;
}
// end radio check styles //
.header-panel {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  max-width: 900px;
  color: #fff;
background-color: #005EB8;
}

.account {
  width: 100%;
  border-top: 1px solid #ababab;
}
.account-row {
  padding: 0 10px;
}
.account-row.zebra {
  background-color: #e6e6e6;
}
.account .acc-name {
  display: inline-block;
  width: 70%;
}
.account .acc-connect {
display: inline-block;
width: 29%;
}
.account .acc-connect img {
  float: right;
  margin-top: 5px;
}
.-date div {
  float: left;
  padding-right: 1em;
}

.-date .day,
.-date .month {
  width: 3em;
}

.-date .year {
  width: 4em;
}

.overlays { position: fixed;
overflow: auto;
text-align: center;
top: 0;
left: 0;
bottom: 0;
right: 0;
display: block;
z-index: 900;
background-color: rgba(255, 255, 255, .97);
width: 100%;
padding: 0;
margin: 0;
border: 0; }


.overlays:before { content: '';
display: inline-block;
height: 100%;
vertical-align: middle; }


.overlay--dark { 
  background-color: rgba(0, 0, 0, .6); 
  }

.button--close {
  font-size: 32px;
  font-family: medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 0
}

.overlay--dark .button--close { 
  background-color: transparent;
  border: 0;
  color: #fff
}

.overlay-dialog {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  overflow: hidden;
  text-align: center;
}

.overlay--dark .overlay-dialog {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .44);
  padding: 0;
  max-width: 600px
}

.overlay-dialog h1 {
  text-align: left;
  font-size: 36px;
  font-weight: bold;
  padding: 0px 72px;
  margin: 0;
  margin-bottom: 20px;
}

.overlay-dialog h2 {
  text-align: left;
  font-size: 24px;
  padding: 0px 72px;
  margin: 0;
  font-weight: normal;
}

.overlay-dialog p {
  text-align: left;
  padding: 0px 72px;
}

.overlay-dialog .signin-logo {
  width: 100%;
  background-color: #005EB8;
  margin-bottom: 20px;
}

.signin-logo img {
  margin: 45px;
}

.overlay-dialog button {
  width: 456px;
  height: 58px;
  text-align: left;
  padding-left: 105px;
  margin-bottom: 20px;
  font-size: 20px;
}

.overlay-dialog button:hover {
  outline-style: solid;
  outline-color: #fada8b;
  outline-width: 5px;
  cursor: pointer;
}

.overlay-dialog button span {
  font-size: 14px;
  display: block;
}

button.button-nhs {
  background: #005eb8 url('../images/nhs-sm.png') no-repeat 17px 13px;
  border: 1px solid #01498f;
  color: #fff;
}

button.button-verify {
  background: #fff url('../images/verify-sm.png') no-repeat 21px 9px;
  border: 1px solid #ababab;
  color: #000;
}

button.button-fb {
  background: #3c5798 url('../images/fb-sm.png') no-repeat 21px 13px;
  border: 1px solid #01498f;
  color: #fff;
  font-size: 17px;
}

button.button-google {
  background: #fff url('../images/google-sm.png') no-repeat 16px 13px;
  border: 1px solid #ababab;
  color: #000;
}

button.button-twitter {
  background: #58aaee url('../images/twitter-sm.png') no-repeat 13px 13px;
  border: 1px solid #3e9fef;
  color: #fff;
  font-size: 17px;
}

.social-box {
  border-top: #ababab 1px dashed;
  border-bottom: #ababab 1px dashed;
  margin: 0 auto;
  max-width: 456px;
  padding-top: 20px;
}

p.help-links {
  text-align: center;
}

.form-date-field {
  margin-top: 0!important;
}

.form-hint {
  clear: both;
}

// strong notice

.notice {
  position: relative;
}

.notice .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px;
}

.notice strong {
  display: block;
  padding-left: 65px;
  margin-left: -15px;
}

.icon-important {
  width: 35px;
  height: 35px;
  background-image: url("/images/icon-important.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-important {
    background-image: url("/images/icon-important-2x.png");
    background-size: 100%;
  }
}

.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}