@import "nhsuk";

// new styles under here

$leading: 16px;
$pure-white: #fff;

h1, h1>legend { 
	font-size: 36px;
	line-height: 48px;
	font-weight: bold;
}

.global-header__link {
	background: url("/images/logotype-nhs-colour__reverse.png") no-repeat;
}

.page-section {
	padding: 65px 0;
}

p.small, li.small {
  font-size: 16px;
  line-height: 1.1em;
}
p.small {
  line-height: 1.2em;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='tel'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 16px 0 32px 0;
  padding: 8px;
  border: 2px solid #005EB8;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 32px;
}

@media (min-width: 500px) {
  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='email'],
  input[type='tel'] {
    width: 75%;
  }
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='tel']:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

input[type='text'].-small,
input[type='number'].-small,
input[type='password'].-small,
input[type='email'].-small,
input[type='tel'].-small {
  width: 8em;
}

input[type='text'].code,
input[type='number'].code,
input[type='password'].code,
input[type='email'].code,
input[type='tel'].code {
  width: 50%;
}

span.section-header {
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
}


.-date div {
  float: left;
  padding-right: 1em;
}

.-date .day,
.-date .month {
  width: 3em;
}

.-date .year {
  width: 4em;
}

.error-summary {
  margin: 32px 0;
}

.error-summary > div {
  float: left;
  border-top: 2px solid #D81E05;
  background-color: #fbe9e6;
  padding: 0 32px;
  color: #a61704;
}

.error-summary a {
  color: #a61704;
}

.error-hint {
  display: block;
  color: #D81E05;
}

.form-group.-errors {
  border-left: 4px solid #D81E05;
  padding-left: 20px;
}

.form-group.-errors input,
.form-group.-errors textarea {
  border-color: #D81E05;
  border-width: 4px;
}

// radio check styles //

.block-label {
  display: block;
  position: relative;
  width: auto;
  padding: 7px 0 7px 50px;
  margin: 16px 0;
  cursor: pointer;
  font-size: 20px;
}

@media (min-width: 500px) {
  .block-label {
    float: left;
    clear: both;
  }
}

.block-label input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
}

.block-label input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.block-label.selection-button-radio::before {
  content: "";
  border: 3px solid #005EB8;
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-label.selection-button-radio::after {
  content: "";
  border-radius: 50%;
  background: currentColor;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.block-label.selection-button-checkbox::before {
  content: "";
  border: 3px solid #005EB8;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-label.selection-button-checkbox::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: 11px;
  left: 9px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.block-label.selection-button-radio.focused::before, .block-label.selection-button-checkbox.focused::before {
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

.block-label.selection-button-radio.selected::after, .block-label.selection-button-checkbox.selected::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.inline div {
  display: inline-block;
  margin-right: 50px;
}
// end radio check styles //
.header-panel {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  max-width: 900px;
  color: #fff;
background-color: #005EB8;
}

.account {
  width: 100%;
  border-top: 1px solid #ababab;
}
.account-row {
  padding: 0 10px;
}
.account-row.zebra {
  background-color: #e6e6e6;
}
.account .acc-name {
  display: inline-block;
  width: 70%;
}
.account .acc-connect {
display: inline-block;
width: 29%;
}
.account .acc-connect img {
  float: right;
  margin-top: 5px;
}