# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

/node_modules
/libraries
/.sass-cache
/npm-debug.log
/nbproject
.DS_Store
/.DS_Store
/public/stylesheets/*.map