{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h1 class="heading-large">Forgotten password</h1>

        <h2 class="heading-xlarge"><legend>Enter your email address</legend></h2>

        <p>We will send you instructions on how to reset your password to your email</p>
        
        <div class="form-group">
          <input autocomplete="off" type="tel" class="form-control" name="phone-number" id="phone-number" value="">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="forgotten-password-check-email" class="button" id="continue">Continue</a>
    </div>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}

