{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}View your medical record online{{serviceName}}{% endblock %}

{% block pageTitle %}View your medical record online{% endblock %}

{% block content %}

<div class="first-item">

    <div class="form-group">

      <h1>You are able to request permission to view your medical record online</h1>

    </div>
    <section class="callout callout--attention">
      <h2>Do you want to view your medical record?</h2>
      <p>To view your medical record online the following NEEDS to happen:</p>
      <ol>
        <li>We need to ask permission from your GP to allow you to have access to your medical record. <a href="#">Find our more information</a></li>
        <li>We must confirm who you say you are to a very high level of assurance. <a href="#">Find our more information</a></li>
      </ol>

      <p><a href="request-authorisation" class="button">Start</a></p>
    </section>
</div>

{% endblock %}

{% block footer %}{% endblock %}
