<div class="gp-appointment-times">
    <h4 style="margin-bottom:8px;">GP appointment times</h4>
    <table>
        <tbody>
            <tr>
                <td>Monday</td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>8am to 1:30pm</td>
                <td></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>9:30am to 12:30pm</td>
                <td> </td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>9:30am to 12:30pm</td>
                <td> </td>
            </tr>

        </tbody>
    </table>
    <p>You can also see a GP Monday, Wednesday and Friday, 7am to 7:50am. But you will have to book these appointments at least a week in advance.</p>
    <p>The surgery has a small number of same day appointments Monday to Friday. Call reception at 8am to find out what appointments are available.</p>
    <p>Registered patients can book an appointment at this surgery or the practice’s other branch: <a href="#">Kenyon Medical Centre: Chace Avenue.</a></p>
  </div>
