<div class="online-services-desktop callout callout--attention">
  <h3>Services for registered patients</h3>
    <p style="margin-bottom:16px;"><a href="#">Book an appointment with a GP</a></p>
    <p style="margin-bottom:16px;"><a href="#">Change or cancel an appointment</a></p>
    <p style="margin-bottom:16px;"><a href="#">See your medical records</a></p>
    <p style="margin-bottom:16px;"><a href="#">Get a repeat prescription</a></p>
    <p style="margin-bottom:16px;"><a href="#">Give feedback about this surgery</a></p>
</div>
