<div class="what-patients-say" style="margin-top:16px;">
  <h2>What patients say about this surgery</h2>
  <p>The GP Patient Survey gives patients a chance to say how they feel about their GP. In the most recent survey: </p>
  <ul>
    <li>59% of patients would recommend this GP surgery</li>
    <li>78% describe their overall experience at this surgery as good</li>
    <li>70% describe their experience of making an appointment as ‘good’</li>
    <li>80% say the last appointment they got was convenient</li>
  </ul>
  <a href="https://gp-patient.co.uk/practices/M86627">See more feedback for this surgery in the GP Patient Survey</a>
</div>
