<section class="callout--grey">
  <p>Reception is closed now.</p>
  <details role="group" style="margin:8px 0;">
    <summary>
      <a><span class="details__summary">See opening times</span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <table style="margin-top:24px;">
          <tbody>
              <tr>
                  <td>Monday</td>
                  <td>7:30am to 8pm</td>
              </tr>
              <tr>
                  <td>Tuesday</td>
                  <td>7:30am to 6pm</td>
              </tr>
              <tr>
                  <td>Wednesday</td>
                  <td>7:30am to 6pm</td>
              </tr>
              <tr>
                  <td>Thursday</td>
                  <td>7:30am to 6pm</td>
              </tr>
              <tr>
                  <td>Friday</td>
                  <td>7:30am to 6pm</td>
              </tr>
          </tbody>
      </table>
    </div>
  </details>
</section>
