<div class="staff">
  <h2 style="padding-bottom:0px;">GPs at this surgery</h2>
  <p style="margin:16px 0;">There are 4 female GPs and 2 male GPs.</p>
  <table>
    <tbody>
      <tr>
        <th><b>GP's name</b></th>
        <th><b>Specialties</b></th>
      </tr>
      <tr>
        <td>Dr Sean Michael Emmott</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Catherine Anne Smith</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Jake Samuel Jeffrey</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Joanne Sarah Hudson</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Kathryn Allison</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Catherine Melsom</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
