<div class="staff">
  <h2 style="padding-bottom:0px;">GPs at this surgery</h2>
  <p style="margin:16px 0;">There are 3 female GPs and 2 male GPs.</p>
  <table>
    <tbody>
      <tr>
        <th><b>GP's name</b></th>
        <th><b>Specialties</b></th>
      </tr>
      <tr>
        <td>Dr Helen Carter</td>
        <td>Respiratory disease</td>
      </tr>
      <tr>
        <td>Dr Herpal Gill</td>
        <td>Dermatology and orthopaedics</td>
      </tr>
      <tr>
        <td>Dr Jamie Matthews</td>
        <td>ENT</td>
      </tr>
      <tr>
        <td>Dr James McMorran</td>
        <td>Diabetes and cardiovascular risk</td>
      </tr>
      <tr>
        <td>Dr Emma Stone</td>
        <td>Psychiatry and substance misuse</td>
      </tr>
    </tbody>
  </table>
</div>
