<h2>When GPs see patients</h2>
  <table>
      <tbody>
          <tr>
              <td>Monday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
              <td> </td>
          </tr>
          <tr>
              <td>Tuesday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
              <td>6:30pm <br class="br__table"/>to 8pm</td>
          </tr>
          <tr>
              <td>Wednesday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
              <td> </td>
          </tr>
          <tr>
              <td>Thursday</td>
              <td>8am <br class="br__table"/>to 1.30pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
              <td>6:30pm <br class="br__table"/>to 8pm</td>
          </tr>
          <tr>
              <td>Friday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
              <td> </td>
          </tr>
          <tr>
              <td>Saturday</td>
              <td>Closed</td>
              <td> </td>
              <td> </td>
          </tr>
          <tr>
              <td>Sunday</td>
              <td>Closed</td>
              <td> </td>
              <td> </td>
          </tr>

      </tbody>
  </table>

<h3>If you need an appointment at other times</h3>
<p>Call reception or <a href="https://kenyonmedicalcentres.gpsurgery.net/">visit the surgery's website</a> to find out if appointments are available at other times (for example in the morning or late evening).</p>
