{% extends '_layouts/layout_1-2-signed-in.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div>
	<h1>Dashboard</h1>
	<p>This is where you can store your favourites</p>
	<p><a href="http://transformation.blog.nhs.uk/" rel="external">Read more about NHS.UK on our blog</a></p>
	<h2 id="conditions" class="heading-large">GP Surgeries</h2>
	<ul>
		<li><a href="https://patient.emisaccess.co.uk/account/login?ReturnUrl=%2Fappointments%2Favailable">Chandos Medical Centre</a></li>
		<li><a href="https://patient.emisaccess.co.uk/account/login?ReturnUrl=%2Fappointments%2Favailable">Woodhouse Health Centre</a></li>
	</ul>
	<h2 id="symptoms" class="heading-large">Conditions</h2>
	<ul>
		<li><a href="https://beta.nhs.uk/conditions/glandular-fever">Glandular fever</a></li>
		<li><a href="https://beta.nhs.uk/conditions/hay-fever">Hay fever</a></li>
	</ul>
	<h2 id="symptoms" class="heading-large">Medicines</h2>
	<ul>
		<li><a href="https://beta.nhs.uk/medicines/citalopram">Citalopram</a></li>
		<li><a href="https://beta.nhs.uk/medicines/ibuprofen-for-children">Ibuprofen for children</a></li>
	</ul>
</div>


{% endblock %}

{% block rightcol %}
<div class="reading-width">
	<h2 class="heading-large">Services</h2>
	<ul>
		<li><a href="service-level-1">Book a GP appointment online</a></li>
		<li><a href="service-level-2">National opt out</a></li>
		<li><a href="service-level-3">Child health</a></li>
		<li><a href="service-level-4">Manage and view my health information</a></li>
	</ul>
</div>


{% endblock %}

{% block footer %}{% endblock %}

