{% extends '_layouts/layout_2-3-signed-in.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<style>
.task {
	background-color: #dee0e2;
	width: 100%;
	border-left: 5px solid #005eb8;
	margin-bottom: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.task h3 {
	padding-top: 10px;
	margin-top: 0;
	width: 75%;
	display: inline-block;
	font-weight: normal;
}
.task p {
	padding-top: 10px;
	margin-top: 0;
	font-size: 0.8em;
}
.task span {
	font-size: 0.85em;
	text-align: right;
}
.taskstatus {
	float: right;
	padding-right: 15px;
	padding-top: 5px;
}
.complete { color: #3E8117;}
.incomplete { color: red;}
.pending { color: #005eb8;}
.rejected { color: red;}
.task-button {
	background-color: #3E8117;
	color: #fff;
	padding: 10px;
}
a.task-button , a.task-button:visited, a.task-button:hover, a.task-button:active {
	text-decoration: none;
	color: #fff;
}

</style>

<div class="first-item">

    <div>

        <span class="section-header">Service name</span>

        <h1 class="heading-xlarge"><legend>Security Access Page</legend></h1>

        <p>We take your security very seriously to protect your personal information and identity.</p>
        <p>You must complete these tasks to access the service</p>

        <div class="task">
        	<h3 class="">Sign in or create and NHS Beta account</h3>
        	<div class="taskstatus">
	        	<span class="complete">COMPLETE</span>
	        </div>
        	<p>Completed on 21st July 2017</p>
        </div>

        <div class="task">
        	<h3 class="heading-large">Connect account to your NHS record</h3>
        	<span class="taskstatus incomplete">INCOMPLETE</span>
		    <p><a href="#" class="task-button">Connect your NHS record</a></p>
        </div>

        <div class="task">
        	<h3 class="heading-large">Verify your identity with GOV.UK Verify</h3>
        	<span class="taskstatus pending">PENDING</span>
        	<p>Your application is being processed</p>
        </div>

        <div class="task">
        	<h3 class="heading-large">Prove your identity in person</h3>
        	<span class="taskstatus rejected">REJECTED</span>
        	<p><a href="#" class="task-button">Prove your identity</a></p>
        </div>

    </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}

