<!-- <details role="group">
  <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
    <a><span class="details__summary">See this surgery on a map</span></a>
  </summary>
  <div id="details-content-0" aria-hidden="true">
    <div class="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.414339270226!2d-1.444658984297522!3d52.39916647979147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877490941028f4d%3A0xfe8fded19ec1bc74!2sKenyon+Medical+Centre!5e0!3m2!1sen!2suk!4v1484339576569" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</details> -->

<p><a>See the area this surgery covers</a></p>

<div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.414339270226!2d-1.444658984297522!3d52.39916647979147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4877490941028f4d%3A0xfe8fded19ec1bc74!2sKenyon+Medical+Centre!5e0!3m2!1sen!2suk!4v1484339576569" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
