<div class="online-services">
  <h2>Online services</h2>
    <p style="margin: 8px 0;"><a href="#">Register with this practice</a></p>
    <p style="margin: 8px 0;"><a href="#">Book an appointment with a GP</a></p>
    <p style="margin: 8px 0;"><a href="#">Change or cancel an appointment</a></p>
    <p style="margin: 8px 0;"><a href="#">See your medical records</a></p>
    <p style="margin: 8px 0;"><a href="#">Get a repeat prescription</a></p>
    <p style="margin: 8px 0;"><a href="#">Give feedback about this surgery</a></p>
</div>
