<div class="reception-opening-times">
  <h2 style="padding-bottom:8px;">Opening times</h2>
  <h4 style="margin-bottom:8px;">Reception</h4>

  <section class="callout callout--info callout--compact">
    <p>Reception is open today until 6:30pm</p>
  </section>

  <details role="group">
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
      <a><span class="details__summary">See reception opening times</span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <table style="margin-top:24px;">
          <tbody>
              <tr>
                  <td>Monday</td>
                  <td>8am to 6pm</td>
              </tr>
              <tr>
                  <td>Tuesday</td>
                  <td>8am to 6pm</td>
              </tr>
              <tr>
                  <td>Wednesday</td>
                  <td>8am to 6pm</td>
              </tr>
              <tr>
                  <td>Thursday</td>
                  <td>8am to 1:30pm</td>
              </tr>
              <tr>
                  <td>Friday</td>
                  <td>8am to 6pm</td>
              </tr>
          </tbody>
      </table>
    </div>
  </details>

  <p>When this surgery is closed, you can <a>call 111</a> for advice on a health issue. </p>

  <!-- <table>
      <tbody>
          <tr>
              <td>Monday</td>
              <td>8am to 6pm</td>
          </tr>
          <tr>
              <td>Tuesday</td>
              <td>8am to 6pm</td>
          </tr>
          <tr>
              <td>Wednesday</td>
              <td>8am to 6pm</td>
          </tr>
          <tr>
              <td>Thursday</td>
              <td>8am to 1:30pm</td>
          </tr>
          <tr>
              <td>Friday</td>
              <td>8am to 6pm</td>
          </tr>
      </tbody>
  </table> -->
</div>
