<div class="services-clinics" style="margin:16px 0;">

  <h2>Services and clinics</h2>

  <details role="group">
    <summary>
      <a><span class="details__summary">Child immunisation</span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p>Child vaccinations up to 5 years old.</p>
      <p>You can book an appointment for this clinic without seeing a GP.</p>
    </div>
  </details>

  <details role="group">
    <summary>
      <a><span class="details__summary">Asthma clinic</span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p>See a practice nurse for regular check-ups and advice on lifestyle, inhaler techniques and medication. </p>
      <p>You can book an appointment for this clinic without seeing a GP.</p>
    </div>
  </details>

  <details role="group">
    <summary>
      <a><span class="details__summary">Diabetes clinic</span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p>See a practice nurse for advice on lifestyle and management of diabetes.  </p>
      <p>You can book an appointment without seeing a GP. </p>
    </div>
  </details>

  <details role="group">
    <summary>
      <a><span class="details__summary">Minor surgery clinic</span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p>We can carry out minor surgery, for example removal of moles and skin lesions.  </p>
      <p>A GP needs to refer you to this service.  </p>
    </div>
  </details>

  <details role="group">
    <summary>
      <a><span class="details__summary">Primary care counselling service. </span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p>Book an appointment to see a counsellor or psychiatric nurse, or to be referred to local psychiatric services.   </p>
      <p>You can book an appointment without seeing a GP.  </p>
    </div>
  </details>

  <details role="group">
    <summary>
      <a><span class="details__summary">Stop smoking clinic </span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p>See a nurse who specialises in helping people who want to stop smoking.   </p>
      <p>You can book an appointment without seeing a GP.  </p>
    </div>
  </details>

  <details role="group">
    <summary>
      <a><span class="details__summary">Travel vaccinations </span></a>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p>We give vaccinations to children and adults.</p>
      <p>You can book an appointment without seeing a GP.</p>
    </div>
  </details>
</div>
