{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Future iterations{% endblock %}

{% block pageIntro %}Exploratory design work.{% endblock%}

{% block content %}

  <div class="first-item">
    <h2>Online tasks</h2>
    <a href="/exploration/online-tasks/v1"><h3>Online tasks</h3></a>

    <hr />

    <h2>Header design</h2>
    <a href="/exploration/header-exploration/v2"><h3>Header design v2</h3></a>
    <p>Two design options based on team review 29/03/17</p>
    <a href="/exploration/header-exploration/v1"><h3>Header design v1</h3></a>
    <p>Initial exploration based on team workshop</p>

  </div>
  <hr class="hr--full-width"/>
{% endblock %}

{% block footer %}{% endblock %}
