<div class="first-item">
  <h3>On this page</h3>
  <p class="anchor-link"><a href="#when-the-reception-is-open">When reception is open</a></p>
  <p class="anchor-link"><a href="#when-to-see-a-gp">When GPs see patients</a></p>
  <p class="anchor-link" ><a href="#tasks">Book an appointment with a GP</a></p>
  <p class="anchor-link" ><a href="#patients-stats">What patients say about this surgery</a></p>
  <p class="anchor-link" ><a href="#healthcare-staff">GPs at this surgery</a></p>
  <p class="anchor-link" ><a href="#specialied-services">Services at this surgery</a></p>
  <p class="anchor-link" ><a href="#facilities">Parking and accessibility</a><br/></p>
  <p class="anchor-link" ><a href="#register">Register as a patient</a></p>
</div>
