<h3>When reception is open</h3>
  <div class="appointments__desktop">
    <table style="border-top:0px;">
        <tbody>
            <tr>
                <td><b>Monday</b></td>
                <td>7.30am to 8pm</td>

            </tr>
            <tr>
                <td><b>Tuesday</b></td>
                <td>7.30am to 6pm</td>
            </tr>
            <tr>
                <td><b>Wednesday</b></td>
                <td>7.30am to 6pm</td>
            </tr>
            <tr>
                <td><b>Thursday</b></td>
                <td>7.30am to 6pm</td>
            </tr>
            <tr>
                <td><b>Friday</b></td>
                <td>7.30am to 6pm</td>
            </tr>
            <tr>
                <td><b>Saturday</b></td>
                <td>Closed</td>
            </tr>
            <tr>
                <td><b>Sunday</b></td>
                <td>Closed</td>
            </tr>
        </tbody>
    </table>
  </div>

  <dl class='appointments__mobile'>
    <div class="dt__day">
      <dt>Monday</dt>
      <dd>7.30am to 8pm</dd>
    </div>
    <div class="dt__day">
      <dt>Tuesday</dt>
      <dd>7.30am to 6pm</dd>
    </div>
    <div class="dt__day">
      <dt>Wednesday</dt>
      <dd>7.30am to 6pm</dd>
    </div>
    <div class="dt__day">
      <dt>Thursday</dt>
      <dd>7.30am to 6pm</dd>
    </div>
    <div class="dt__day">
      <dt>Friday</dt>
      <dd>7.30am to 6pm</dd>
    </div>
    <div class="dt__day">
      <dt>Saturday</dt>
      <dd>Closed</dd>
    </div>
    <div class="dt__day">
      <dt>Sunday</dt>
      <dd>Closed</dd>
    </div>
  </dl>
