<div class="staff">
  <h2 style="padding-bottom:0px;">GPs at this surgery</h2>
  <p style="margin:16px 0;">There are 2 female GPs and 1 male GPs.</p>
  <table>
    <tbody>
      <tr>
        <th><b>GP's name</b></th>
        <th><b>Specialties</b></th>
      </tr>
      <tr>
        <td>Dr Nicola Dumphy</td>
        <td>Family Planning</td>
      </tr>
      <tr>
        <td>Dr Alasdair Gallagher</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Dawn Smith</td>
        <td>Dermatology</td>
      </tr>
    </tbody> 
  </table>
</div>
