<h2>When GPs see patients</h2>
  <table>
      <tbody>
          <tr>
            <td>Monday</td>
            <td>8am to 6pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>8am to 6pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>8am to 1pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>8am to 6pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>8am to 6pm</td>
            <td> </td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Closed</td>
            <td> </td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Closed</td>
            <td> </td>
          </tr>
      </tbody>
  </table>

<h3>If you need an appointment at other times</h3>
<p>Call reception or <a href="http://www.oakleymedicalpractice.nhs.uk/">visit the surgery's website</a> to find out if appointments are available at other times (for example in the morning or late evening).</p>

<!-- <p>Call 111 if you want to speak to somebody about a health problem when the surgery isn’t open. Or you can <a href="http://www.nhs.uk/service-search">find other local NHS services</a> that might be able to help.</p> -->

  <!-- <h3>Appointments at another branch</h3>
  <p>Registered patients can book appointments at the practice’s other surgery: <a>Kenyon Medical Centres: Chace Avenue</a></p>

  <h3>Same-day appointments</h3>
  <p>Call reception at 8am Monday to Friday to see if a same-day appointment is available.</p>

  <h3>Early morning appointments</h3>
  <p>Book a week in advance for early morning appointments on Mondays, Wednesdays or Fridays, 7am to 7:50am</p> -->
