<h2 style="margin-top:56px;">GP appointment times</h2>
  <div class="appointments__desktop">
    <table style="border-top:0px;">
        <tbody>
            <tr>
                <td><b>Monday</b></td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td><b>Tuesday</b></td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
                <td>6:30pm to 8pm</td>
            </tr>
            <tr>
                <td><b>Wednesday</b></td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td><b>Thursday</b></td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
                <td>6:30pm to 8pm</td>
            </tr>
            <tr>
                <td><b>Friday</b></td>
                <td>8am to 1pm</td>
                <td>3pm to 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td><b>Saturday</b></td>
                <td>Closed</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Sunday</b></td>
                <td>Closed</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>

  <dl class='appointments__mobile'>
    <div class="dt__day">
      <dt>Monday</dt>
      <dd>8am to 1pm</dd>
      <dd>3pm to 6pm</dd>
    </div>
    <div class="dt__day">
      <dt>Tuesday</dt>
      <dd>8am to 1pm</dd>
      <dd>3pm to 6pm</dd>
      <dd>6:30pm to 8pm</dd>
    </div>
    <div class="dt__day">
      <dt>Wednesday</dt>
      <dd>8am to 1pm</dd>
      <dd>3pm to 6pm</dd>
    </div>
    <div class="dt__day">
      <dt>Thursday</dt>
      <dd>8am to 1pm</dd>
      <dd>3pm to 6pm</dd>
      <dd>6:30pm to 8pm</dd>
    </div>
    <div class="dt__day">
      <dt>Friday</dt>
      <dd>8am to 1pm</dd>
      <dd>3pm to 6pm</dd>
    </div>
    <div class="dt__day">
      <dt>Saturday</dt>
      <dd>Closed</dd>
    </div>
    <div class="dt__day">
      <dt>Sunday</dt>
      <dd>Closed</dd>
    </div>
  </dl>

<p>Contact reception or <a href="https://kenyonmedicalcentres.gpsurgery.net/">go to the surgery's website</a> to find out if appointments are available at other times.</p>

<p>If the surgery is closed and you need help quickly, call 111 for advice on local services that might be able to help.</p>
