<h2>How to register</h2>
<div class="callout callout--info callout--compact callout--blue"><p>This surgery is accepting new patients</p></div>

<p>Find out <a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/doctors/Pages/NHSGPs.aspx">how to register as a patient.</a></p>

<hr />

<!-- <h2>How to register</h2>
 <div class="callout callout--info callout--compact"><p>This surgery isn't accepting new patients</p></div>

 <p>You can still find out <a href="#">how to register with other surgeries.</a></p> -->
