<div class="overlays overlay--dark">
  <button class="button button--close" data-action="overlay-close">×</button>

  <div class="overlay-dialog" tabindex="-1">
    <div class="signin-logo">
      <img src="/images/nhs-logotype-white.svg" onerror="this.onerror=null; this.src='/images/nhs-logotype-white.svg'">
    </div>
    <h2>My NHS Account</h2>
    <h1>Sign in / sign up</h1>
    <button  onclick="window.location.href='two-step'" class="button-nhs">Continue with NHS login</button>
    <button onclick="window.location.href='two-step'" class="button-verify">Continue with GOV.UK Verify</button>

    <div class="social-box">
      <button onclick="window.location.href='two-step'" class="button-fb">Continue with Facebook <span>We won't post without asking first</span></button>
      <button onclick="window.location.href='two-step'" class="button-google">Continue with Google</button>
      <button onclick="window.location.href='two-step'" class="button-twitter">Continue with Twitter <span>We won't post without asking first</span></button>
    </div>

    <p class="help-links">
      <a href="#">Unsure which to choose?</a>
      <br />
      <a href="#">Can’t remember which one you chose before?</a>
    </p>
  </div>
</div>


