<!-- <header role="banner" id="global-header">
  <div class="header-container">
    <a href="/" class="header-logo" title="Go to the index page">
      <img src="/images/nhs-logotype-blue.svg" alt="NHS" />
    </a>
    
    {% if not suppressServiceName %}
      <span class="service-name">
        {% if serviceName %}
          {{ serviceName }}
        {% endif %}
      </span>
    {% endif %}
  </div>
</header> -->


    <header role="banner">
      <div class="global-header">
        <div class="global-header__inner">
          <a href="./" class="global-header__link" style="padding-right:15px; margin-right:15px">
            <img src="/images/nhs-logotype-blue.svg" alt="NHS">
          </a>
          <h2 style="line-height:35px">ID STATION</h2>
        </div>
      </div>
    </header>
