  <h2 style="padding:0 0 16px 0;">Services at this surgery</h2>

  <h3 style="padding:24px 0 0 0;">Services that need a GP referral</h3>
  <p style="margin:16px 0;">Minor surgery</p>
  <p style="margin:16px 0;">Counselling service</p>

  <h3 style="padding:24px 0 0 0;">Services patients can book themselves</h3>
  <p style="margin:16px 0;">Child vaccination</p>
  <p style="margin:16px 0;">Asthma clinic</p>
  <p style="margin:16px 0;">Diabetes clinic</p>
  <p style="margin:16px 0;">Chronic obstructive pulmonary disease (COPD) clinic</p>
  <p style="margin:16px 0;">Stop smoking clinic</p>
  <p style="margin:16px 0;">Travel injections</p>
