<h2 style="margin-bottom:24px;">When the surgery is open</h2>
<table>
  <tbody>
      <tr>
          <td>Monday</td>
          <td>7:30am to 8pm</td>
      </tr>
      <tr>
          <td>Tuesday</td>
          <td>7:30am to 6pm</td>
      </tr>
      <tr>
          <td>Wednesday</td>
          <td>7:30am to 6pm</td>
      </tr>
      <tr>
          <td>Thursday</td>
          <td>7:30am to 6pm</td>
      </tr>
      <tr>
          <td>Friday</td>
          <td>7:30am to 6pm</td>
      </tr>
  </tbody>
</table>
