<h2 style="margin-bottom:24px;">When GPs see patients</h2>
  <table>
      <tbody>
          <tr>
              <td>Monday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
          </tr>
          <tr>
              <td>Tuesday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
          </tr>
          <tr>
              <td>Wednesday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
          </tr>
          <tr>
              <td>Thursday</td>
              <td>8am <br class="br__table"/>to 1:30pm</td>
              <td></td>
          </tr>
          <tr>
              <td>Friday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
          </tr>
          <tr>
              <td>Saturday</td>
              <td>9:30am <br class="br__table"/>to 12:30pm</td>
              <td> </td>
          </tr>
          <tr>
              <td>Sunday</td>
              <td>9:30am <br class="br__table"/>to 12:30pm</td>
              <td> </td>
          </tr>

      </tbody>
  </table>

  <h3>Appointments at another branch</h3>
  <p>Registered patients can book appointments at the practice’s other surgery: <a>Kenyon Medical Centres: Chace Avenue</a></p>

  <h3>Same-day appointments</h3>
  <p>Call reception at 8am Monday to Friday to see if a same-day appointment is available.</p>

  <h3>Early morning appointments</h3>
  <p>Book a week in advance for early morning appointments on Mondays, Wednesdays or Fridays, 7am to 7:50am</p>
