<h2>Register as a patient</h2>
<div class="callout--blue"><p>This surgery is accepting new patients</p></div>
<p>You need to go to the surgery to register. Take with you: </p>

<ul>
    <li>proof of identity (for example your passport)</li>
    <li>proof of your current address (for example a gas or electricity bill)</li>
    <li>your last GP surgery’s name and address </li>
    <li>your NHS number (you can find this on any document you’ve received from the NHS)</li>
</ul>

<p>You’ll also need to fill in a registration form. You can <a href="#">download and fill in a form</a> before going to the surgery. But the receptionist might have other forms that you need to fill in.</p>
