{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

        <span class="section-header">Forgotten password</span>

        <h1><legend>Check your email</legend></h1>

        <p>We have sent you instructions on how to reset your password to your email</p>
        <p>You have 48 hours to reset your password before the link is deactivated.</p>

    </div>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}

