{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Connect to NHS Wifi{{serviceName}}{% endblock %}

{% block pageTitle %}Connect to NHS Wifi{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <div class="callout callout--attention">
        Your password has been reset.
      </div>

      <h1><legend>Login to your NHS Account</legend></h1>

      <div class="form-group">
        <label class="form-label" for="field3">Email address</label>
        <input class="form-control" id="field3" name="field3" type="email">
      </div>
      <div class="form-group">
        <label class="form-label" for="field2">Password</label>
        <input class="form-control" id="field2" name="field2" type="password">
      </div>

    </div>
    <a class="button" href="two-step">Login</a>

    <p class="small"><a href="forgotten-password">Forgotten your password?</a></p>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
