{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h1 class="heading-large">Security code</h1>

        <h2 class="heading-xlarge"><legend>Enter security code</legend></h2>

        <p>We've sent your security code to:</p>
        <p>07779 000333</p>
        <p>It may take a minute or so to arrive.</p>
        
        <div class="form-group">
          <input autocomplete="off" type="tel" class="form-control" name="code" id="code" value="" class="code">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="two-step-thanks" class="button" id="continue">Continue</a>
    </div>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}

