{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Connect to NHS Wifi{{serviceName}}{% endblock %}

{% block pageTitle %}Connect to NHS Wifi{% endblock %}

{% block content %}

<div class="first-item">

    <div class="form-group">

      <h1><legend>You're connected to NHS Wifi</legend></h1>


    </div>
    <section class="callout callout--attention">
      <h2>Do you want to create an NHS account?</h2>
      <p>Your NHS Account will be an online area for all NHS health information and services relevant to you.</p>
      <p>It takes 2 minutes to complete and it allows you to:</p>
      <ul>
        <li>have a single sign in for all NHS services</li>
        <li>manage your health in one place</li>
        <li>personalise your NHS account with health information relevant to you</li>
      </ul>
      <p><a href="#">Find out more about the NHS Account</a></p>

      <p><a href="acc-password" class="button">Create an NHS account</a></p>
    </section>
</div>

{% endblock %}

{% block footer %}{% endblock %}
