{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Connect to NHS Wifi{{serviceName}}{% endblock %}

{% block pageTitle %}Connect to NHS Wifi{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <h2><legend>Connect to NHS Wifi</legend></h2>

      <p>To connect to NHS Wifi you need to give us your email address. <br>We will not to send you any spam or share your details.</p>

      
      <div class="form-group">
        <label class="form-label-bold" for="field3">Email address</label>
        <input class="form-control" id="field3" name="field3" type="email">
      </div>

    </div>
    <a class="button" href="wifi-success">Continue</a>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
