{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Connect to NHS Wifi{{serviceName}}{% endblock %}

{% block pageTitle %}Connect to NHS Wifi{% endblock %}

{% block content %}

<div class="first-item">

    <div class="form-group">

      <h1><legend>You're connected to NHS Wifi</legend></h1>

      <p>You are now connected to NHS Wifi.</p>

    </div>
    <section class="call-out component-primary-care">
      <h2>Create an NHS account</h2>
      <p>Personalise your online NHS experience by creating an account.</p>
      <p>You will be able to:</p>
      <ul>
        <li>add your GP and book appointments</li>
        <li>create a dashboard with conditions and medicine that you are affected by</li>
        <li>manage your health online</li>
      </ul>

      <p><a href="acc-password" class="button">Create an NHS account</a></p>
    </section>
</div>

{% endblock %}

{% block footer %}{% endblock %}
