<div class="staff">
  <h2 style="padding-bottom:0px;">GPs at this surgery</h2>
    <p>Dr D Kara (female)<br />
      Dr P Patel (female)<br />
      Dr R Dosanj (male)<br />
    </p>

  <h2 style="padding-bottom:0px;">Nursing staff at this surgery</h2>
  <h4 style="margin-bottom:-24px;">Nursing prescriber</h4>
  <p>R Sidhu (female)</p>

  <h4 style="margin-bottom:-24px;">Practice nurse</h4>
  <p>B Purewal (female)</p>

  <h4 style="margin-bottom:-24px;">Healthcare assistants</h4>

    <p>S Siri (female)<br />
    S Mali (male)<br />
  </p>
</div>
