<div class="staff">
  <h2 style="padding-bottom:0px;">GPs at this surgery</h2>
  <p style="margin:16px 0;">There are 0 female GPs and 3 male GPs.</p>
  <table>
    <tbody>
      <tr>
        <th><b>GP's name</b></th>
        <th><b>Specialties</b></th>
      </tr>
      <tr>
        <td>Dr Randhawa</td>
        <td>Palliative Care, Joint injections, Rheumatology, Diabetes, Asthma</td>
      </tr>
      <tr>
        <td>Dr Surinderjit Singh</td>
        <td>Palliative Care, Minor Surgery, Diabetes, Dermatology</td>
      </tr>
      <tr>
        <td>Dr John Michael Berridge</td>
        <td>Asthma, Diabetes, Minor Surgery, Musculo-Skeletal Medicine, Joint injections</td>
      </tr>
    </tbody>
  </table>
</div>
