<div class="what-patients-say" style="margin-top:16px;">
  <h2>What patients say about this surgery</h2>
<p>Every year, the GP Patient Survey gives patients a chance to say what they think of their surgery.</p>

<p>Below you can see some of the results for this surgery in the latest survey.</p>

  <table style="background-color:#f5f5f5;">
    <tr>
      <th> </th>
      <th><b>This surgery</b></th>
      <th><b>National average</b></th>
    </tr>
    <tr>
      <td>Patients who would recommend their surgery</td>
      <td>81%</td>
      <td>78%</td>
    </tr>
    <tr>
      <td>Patients who think the receptionists are helpful</td>
      <td>91%</td>
      <td>87%</td>
    </tr>
    <tr>
      <td>Patients who said it’s easy to get through to this surgery on the phone</td>
      <td>83%</td>
      <td>73%</td>
    </tr>
    <tr>
      <td>Patients who said booking an appointment was a good experience</td>
      <td>81%</td>
      <td>73%</td>
    </tr>
    <tr>
      <td>Patients who had confidence in the last GP they saw</td>
      <td>94%</td>
      <td>95%</td>
    </tr>
    <tr>
      <td>Patients who said the last GP I saw was good at listening to them</td>
      <td>90%</td>
      <td>89%</td>
    </tr>
  </table>
  <a href="https://gp-patient.co.uk/practices/B86667">See more results on the GP Patient Survey website.</a>
</div>
