{% extends '_layouts/layout_2-3-signin.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div class="reading-width">
  
<p>This is where NHS.UK tests new pages and services to get feedback. Please
take a look and tell us what you think. It will help us to improve what we do.</p>
<p><a href="http://transformation.blog.nhs.uk/" rel="external">Read more about NHS.UK on our blog</a></p>
<h2 id="conditions">Conditions</h2>
<ul>
<li><a href="/conditions/bacterial-vaginosis">Bacterial vaginosis</a></li>
<li><a href="/conditions/blisters">Blisters</a></li>
<li><a href="/conditions/broken-or-bruised-ribs">Broken or bruised ribs</a></li>
<li><a href="/conditions/carpal-tunnel-syndrome">Carpal tunnel syndrome</a></li>
<li><a href="/conditions/cellulitis">Cellulitis</a></li>
<li><a href="/conditions/cold">Common cold</a></li>
<li><a href="/conditions/conjunctivitis">Conjunctivitis</a></li>
<li><a href="/conditions/constipation">Constipation</a></li>
<li><a href="/conditions/cough">Cough</a></li>
<li><a href="/conditions/dehydration">Dehydration</a></li>
<li><a href="/conditions/type-2-diabetes/check-if-you-have-it">Diabetes</a></li>
<li><a href="/conditions/diarrhoea">Diarrhoea</a></li>
<li><a href="/conditions/ear-infections">Ear infections</a></li>
<li><a href="/conditions/earache">Earache and pain</a></li>
<li><a href="/conditions/earwax">Earwax build-up</a></li>
<li><a href="/conditions/flu">Flu</a></li>
<li><a href="/conditions/frozen-shoulder">Frozen shoulder</a></li>
<li><a href="/conditions/fungal-nail-infection">Fungal nail infection</a></li>
<li><a href="/conditions/glandular-fever">Glandular fever</a></li>
<li><a href="/conditions/hand-foot-and-mouth-disease">Hand, foot and mouth disease</a></li>
<li><a href="/conditions/hay-fever">Hay fever</a></li>
<li><a href="/conditions/head-lice">Head lice</a></li>
<li><a href="/conditions/heat-exhaustion-and-heatstroke">Heat exhaustion and heat stroke</a></li>
<li><a href="/conditions/heat-rash">Heat rash</a></li>
<li><a href="/conditions/hernia">Hernia</a></li>
<li><a href="/conditions/hiatus-hernia">Hiatus hernia</a></li>
<li><a href="/conditions/hives">Hives</a></li>
<li><a href="/conditions/impetigo">Impetigo</a></li>
<li><a href="/conditions/indigestion">Indigestion</a></li>
<li><a href="/conditions/insect-bites-and-stings">Insect bites and stings</a></li>
<li><a href="/conditions/insomnia">Insomnia</a></li>
<li><a href="/conditions/iron-deficiency-anaemia">Iron deficiency anaemia</a></li>
<li><a href="/conditions/laryngitis">Laryngitis</a></li>
<li><a href="/conditions/mouth-ulcers">Mouth ulcers</a></li>
<li><a href="/conditions/nosebleed">Nosebleed</a></li>
<li><a href="/conditions/piles">Piles</a></li>
<li><a href="/conditions/scarlet-fever">Scarlet fever</a></li>
<li><a href="/conditions/shingles">Shingles</a></li>
<li><a href="/conditions/sinusitis">Sinusitis (sinus infection)</a></li>
<li><a href="/conditions/sore-throat">Sore throat</a></li>
<li><a href="/conditions/sprains-and-strains">Sprains and strains</a></li>
<li><a href="/conditions/slipped-disc">Slipped disc</a></li>
<li><a href="/conditions/stye">Stye</a></li>
<li><a href="/conditions/tendonitis">Tendonitis</a></li>
<li><a href="/conditions/thrush">Thrush</a></li>
<li><a href="/conditions/tonsillitis">Tonsillitis</a></li>
<li><a href="/conditions/urinary-tract-infections">Urinary tract infections (UTIs)</a></li>
<li><a href="/conditions/vaginal-discharge">Vaginal discharge</a></li>
<li><a href="/conditions/warts">Warts</a></li>
</ul>
<h2 id="symptoms">Symptoms</h2>
<ul>
<li><a href="/symptoms/headache">Headache</a></li>
<li><a href="/symptoms/rashes-in-babies-and-children">Rashes in babies and children</a></li>
<li><a href="/symptoms/stomach-ache">Stomach ache</a></li>
</ul>
<h2 id="medicines">Medicines</h2>
<ul>
<li><a href="https://beta.nhs.uk/medicines/amoxicillin">Amoxicillin</a></li>
<li><a href="https://beta.nhs.uk/medicines/atorvastatin">Atorvastatin</a></li>
<li><a href="https://beta.nhs.uk/medicines/buscopan">Buscopan (hyoscine butylbromide)</a></li>
<li><a href="https://beta.nhs.uk/medicines/citalopram">Citalopram</a></li>
<li><a href="https://beta.nhs.uk/medicines/erythromycin">Erythromycin</a></li>
<li><a href="https://beta.nhs.uk/medicines/escitalopram">Escitalopram</a></li>
<li><a href="https://beta.nhs.uk/medicines/flucloxacillin">Flucloxacillin</a></li>
<li><a href="https://beta.nhs.uk/medicines/fluoxetine">Fluoxetine (Prozac)</a></li>
<li><a href="https://beta.nhs.uk/medicines/fybogel">Fybogel</a></li>
<li><a href="https://beta.nhs.uk/medicines/gabapentin">Gabapentin</a></li>
<li><a href="https://beta.nhs.uk/medicines/gliclazide">Gliclazide</a></li>
<li><a href="https://beta.nhs.uk/medicines/ibuprofen-for-adults">Ibuprofen for adults (including Nurofen)</a></li>
<li><a href="https://beta.nhs.uk/medicines/ibuprofen-for-children">Ibuprofen for children</a></li>
<li><a href="https://beta.nhs.uk/medicines/isotretinoin">Isotretinoin</a></li>
<li><a href="https://beta.nhs.uk/medicines/isotretinoin-capsules">Isotretinoin capsules (Roaccutane)</a></li>
<li><a href="https://beta.nhs.uk/medicines/isotretinoin-gel">Isotretinoin gel (Isotrex)</a></li>
<li><a href="https://beta.nhs.uk/medicines/lactulose">Lactulose</a></li>
<li><a href="https://beta.nhs.uk/medicines/lansoprazole">Lansoprazole</a></li>
<li><a href="https://beta.nhs.uk/medicines/loratadine">Loratadine (Clarityn)</a></li>
<li><a href="https://beta.nhs.uk/medicines/metformin">Metformin</a></li>
<li><a href="https://beta.nhs.uk/medicines/morphine">Morphine</a></li>
<li><a href="https://beta.nhs.uk/medicines/naproxen">Naproxen</a></li>
<li><a href="https://beta.nhs.uk/medicines/nitrofurantoin">Nitrofurantoin</a></li>
<li><a href="https://beta.nhs.uk/medicines/omeprazole">Omeprazole</a></li>
<li><a href="https://beta.nhs.uk/medicines/paracetamol-for-adults">Paracetamol for adults</a></li>
<li><a href="https://beta.nhs.uk/medicines/paracetamol-for-children">Paracetamol for children (including Calpol)</a></li>
<li><a href="https://beta.nhs.uk/medicines/paroxetine">Paroxetine</a></li>
<li><a href="https://beta.nhs.uk/medicines/pravastatin">Pravastatin</a></li>
<li><a href="https://beta.nhs.uk/medicines/prednisolone">Prednisolone</a></li>
<li><a href="https://beta.nhs.uk/medicines/pregabalin">Pregabalin</a></li>
<li><a href="https://beta.nhs.uk/medicines/ramipril">Ramipril</a></li>
<li><a href="https://beta.nhs.uk/medicines/salbutamol-inhaler">Salbutamol inhaler</a></li>
<li><a href="https://beta.nhs.uk/medicines/senna">Senna (Senokot)</a></li>
<li><a href="https://beta.nhs.uk/medicines/sertraline">Sertraline</a></li>
<li><a href="https://beta.nhs.uk/medicines/simvastatin">Simvastatin</a></li>
<li><a href="https://beta.nhs.uk/medicines/trimethoprim">Trimethoprim</a></li>
<li><a href="https://beta.nhs.uk/medicines/venlafaxine">Venlafaxine</a></li>
<li><a href="https://beta.nhs.uk/medicines/zopiclone">Zopiclone</a></li>
</ul>

  
</div>

{% include '_includes/login.html' %}

{% endblock %}

{% block footer %}{% endblock %}

