{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Connect to NHS Wifi{{serviceName}}{% endblock %}

{% block pageTitle %}Connect to NHS Wifi{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <h2><legend>Connect to NHS Wifi</legend></h2>

      <p>To connect to NHS Wifi you need to give us some details, this will also create an NHS account which will make it easier for you to use future services</p>

      <div class="form-group">
        <label class="form-label-bold" for="field1">First name</label>
        <input class="form-control" id="field1" name="field1" type="text">
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="field2">Surname</label>
        <input class="form-control" id="field2" name="field2" type="text">
      </div>
      <fieldset>
        <legend class="form-label-bold">
          What is your date of birth?
        </legend>
        <div class="form-group -date">
          <div>
            <label for="dob-day">Day</label>
            <input type="text" id="dob-day" name="dob-day" value="{{ session.dob.day }}" class="day" maxlength="2">
          </div>
          <div>
            <label for="dob-month">Month</label>
            <input type="text" id="dob-month" name="dob-month" value="{{ session.dob.month }}" class="month" maxlength="2">
          </div>
          <div>
            <label for="dob-year">Year</label>
            <input type="text" id="dob-year" name="dob-year" value="{{ session.dob.year }}" class="year" maxlength="4">
          </div>
          <p class="form-hint">
            For example, 31 / 12 / 1980
          </p>
        </div>
      </fieldset>
      <div class="form-group">
        <label class="form-label-bold" for="field3">Email Address</label>
        <input class="form-control" id="field3" name="field3" type="text">
      </div>

    </div>
    <a class="button" href="wifi-success">Continue</a>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
