{% extends '_layouts/layout_email.html' %}

{% block page_title %}NHS account{{serviceName}}{% endblock %}



{% block content %}

<div class="first-item" style="padding-bottom: 250px;">
  <h1>Create an NHS account</h1>
  <p>Dear Mr/Ms [Patient’s name],</p>
  <p>You've created an NHS account, you can log into this account by clicking on the link in this email or alternatively going to NHS.UK and searching for account login.</p>
  <p>The account can help you to find local NHS services in your area.</p>
  <p>Link: <a href="acc-login">www.nhs.uk/login</a></p>
  <p>If you didn't set up an NHS account please reply to this email with the word STOP. We won't contact you again.</p>
  <p>If you're unsure about this email you can find more information at <a href="#">www.nhs.uk/aboutacc</a></p>
</div>

{% endblock %}

{% block footer %}{% endblock %}
