{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}View medical record online{{serviceName}}{% endblock %}



{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">
        <span class="section-header">View your medical record online</span>
        <h1>Request authorisation from your GP</h1>
        <p>We now need to ask your GP to make your medical record available.</p>

        <div class="form-group">
          <label class="form-label" for="field1">Your NHS number</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>
        <p><a href="#">I don't know my NHS number</a></p>

      </fieldset>
    </div>
    <a class="button" href="find-gp">Continue</a>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
