ul, ol {
  margin: $leading 0 24px 0;
  padding-left: 1em;
  letter-spacing: 0.01em;
  list-style-position: outside;
  line-height: 1em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
    margin:  0 0 $leading 0;
    padding-left: 0;

    p {
      margin: 0;
    }
}

ul.link-list {
    list-style-type: none;
    padding: 0;
}
