<div class="content">
  <a href="/exploration/header-exploration/page-examples/header_v5"><button class="accepting-patients__button">Design option 3</button></a>
      <div class="grid-row">
        <div class="grid-3-3">
          <h1>
            Kenyon Medical Centres: Brandon Road
          </h1>
          <div class="content-seperator"></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-1-2">
          <p class="p--header">
            108 Brandon Road<br />
            Coventry<br />
            CV3 2JF<br />
            <a href="https://www.google.co.uk/maps/place/Kenyon+Medical+Centre/@52.3991665,-1.4424703,15z/data=!4m5!3m4!1s0x0:0xfe8fded19ec1bc74!8m2!3d52.3991665!4d-1.4424703">See map and get directions <!-- <span><img src="/images/external-link.svg"></span> --></a>
          </p>
        </div>
        <div class="grid-1-2">
          <div class="contact-details">
            <p style="margin-top:0;" class="p--header">
              Reception: 02476 307024<br />
              Fax: 02476 636886<br />
              <a href="mailto:reception@kmc.nhs.uk ">reception@kmc.nhs.uk</a> <br />
              <a href="https://kenyonmedicalcentres.gpsurgery.net/"> www.brandonsurgery.nhs.uk <!-- <span><img src="/images/external-link.svg"></span> --> </a>
            </p>
          </div>
        </div>
      </div>

</div>
