<!-- V3 -->
<div class="content">
  <a href="/exploration/header-exploration/page-examples/header_v8"><button class="accepting-patients__button">Design option 6</button></a>
  <div class="header-panel">
      <div class="grid-row">
        <div class="grid-3-3">
          <h1>
            Kenyon Medical Centres
          </h1>
          <p class="p--header p__header--address">108 Brandon Road, Coventry, <span style="white-space:nowrap;">CV3 2JF</span></p>
          <div class="content-seperator"></div>
          <p class="p__header--telephone">Reception: 02476 307024</p>
          <details role="group" style="margin-top:0; margin-bottom:0;" >
            <summary data-analytics="summary p--header" role="button">
              <span class="details__summary p--header">See all contact information</span>
            </summary>
            <div id="details-content-0" aria-hidden="true">
              <div class="card__container ">
                <p style="font-size:16px; line-height:22px; margin:16px 0 8px 16px;"><a href="mailto:reception@kmc.nhs.uk ">reception@kmc.nhs.uk</a></p>
                <p style="font-size:16px; line-height:22px; margin:8px 0 8px 16px;"><a href="https://kenyonmedicalcentres.gpsurgery.net/"> www.brandonsurgery.nhs.uk</a></p>
                <p style="font-size:16px; line-height:22px; margin:8px 0 8px 16px;">Fax: 02476 636886</p>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

</div>
