<!-- V3 -->
<div class="content">
  <a href="/exploration/header-exploration/page-examples/header_v3"><button class="accepting-patients__button">Design option 1</button></a>
  <div class="header-panel">
      <div class="grid-row">
        <div class="grid-3-3">
          <!-- <div class="callout--local-header"><p>This surgery is accepting new patients</p></div> -->
          <h1>
            Kenyon Medical Centres: Brandon Road
          </h1>
          <div class="content-seperator"></div>
          <a href="#"><p style="margin:4px 0;">Book a GP appointment</p></a>
          <a href="#"><p style="margin:4px 0;">Get a repeat prescription</p></a>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid-3-3">
        <h2 style="margin-top:32px;">H2 heading</h2>
        <p style="margin-top:0;" class="">
          Reception: 02476 307024<br />
          Fax: 02476 636886<br />
          <a href="mailto:reception@kmc.nhs.uk ">reception@kmc.nhs.uk</a> <br />
          <a href="https://kenyonmedicalcentres.gpsurgery.net/"> www.brandonsurgery.nhs.uk <!-- <span><img src="/images/external-link.svg"></span> --> </a>
        </p>

        <hr style="width:130px; margin:16px 0;" />

        <p class="">
          108 Brandon Road<br />
          Coventry<br />
          CV3 2JF<br />
          <a href="https://www.google.co.uk/maps/place/Kenyon+Medical+Centre/@52.3991665,-1.4424703,15z/data=!4m5!3m4!1s0x0:0xfe8fded19ec1bc74!8m2!3d52.3991665!4d-1.4424703">See map and get directions <!-- <span><img src="/images/external-link.svg"></span> --></a>
        </p>
      </div>
    </div>
</div>
