<!-- V4 -->
<div class="content">
  <a href="/exploration/header-exploration/page-examples/header_v4"><button class="accepting-patients__button">Design option 2</button></a>
  <div class="header-panel">
      <div class="grid-row">
        <div class="grid-3-3">
          <h1>
            Kenyon Medical Centres: Brandon Road
          </h1>
          <div class="content-seperator"></div>
          <p style="margin:4px 0;">Reception is open today until 8pm.</p>
          <p style="margin:4px 0;"><b>02476 307024</b></p>
        </div>
      </div>
  </div>
</div>
