<div class="online-services">
  <h2>Things you can do online</h2>
    <p style="margin: 8px 0;"><a href="#">Book an appointment with a GP</a></p>
    <p style="margin: 8px 0;"><a href="#">Book an appointment for a clinic or service</a></p>
    <p style="margin: 8px 0;"><a href="#">Get a repeat prescription</a></p>
    <p style="margin: 8px 0;"><a href="#">Get tests results</a></p>
    <p style="margin: 8px 0;"><a href="#">See your medical records</a></p>
    <p style="margin: 8px 0;"><a href="#">Give feedback on this surgery</a></p>
</div>
