<div class="staff">
  <h2 style="padding-bottom:0px;">GPs at this surgery</h2>
  <p style="margin:16px 0;">There are 3 female GPs and 5 male GPs.</p>
  <table>
    <tbody>
      <tr>
        <th><b>GP's name</b></th>
        <th><b>Specialties</b></th>
      </tr>
      <tr>
        <td>Dr Alexander Iwantschak</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Shahed Tahir</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Kashif Sarwar</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Philippa Ann Crinnion</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Simon Hogan</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr David Patrick Mitchell</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Sophie Sira</td>
        <td></td>
      </tr>
      <tr>
        <td>Dr Sarah Marie Sheen</td>
        <td></td>
      </tr>
  </table>
</div>
