<div>
  <h2>Book an appointment with a GP</h2>

  <div class="callout--blue"><p><a href="http://dev.c2s.nhschoices.net/gp-surgeries/44048/book-appointment">Book an appointment with a GP</a></p></div>

  <h3>If you can't get an appointment</h3>

  <p>You don't always have to see a GP if you have a health problem. For example you can <a href="http://www.nhs.uk/Conditions/Pages/hub.aspx">search this site for advice on your symptoms or condition</a>. Or you might be able to get help from a pharmacy.</p>

  <p><a href="http://www.nhs.uk/Livewell/Pharmacy/Pages/Yourpharmacy.aspx">Find out when a pharmacy can help</a></p>
  <p><a href="https://beta.nhs.uk/finders/find-help">Find a pharmacy near you</a></p>

  <h3>If you think you need help quickly</h3>
  <p>You can call 111 for advice on local services that be able to help.</p>
    <!-- <p style="margin-bottom:16px;"><a href="#">Book an appointment with a GP</a></p> -->
    <p>Or you can <a href="http://www.nhs.uk/service-search/Urgent-Care/LocationSearch/0">find local NHS services that provide urgent care</a></p>
    <p>Only call 999 when someone is seriously ill or injured or their life is at risk.</p>
</div>


