
.overlays { position: fixed;
overflow: auto;
text-align: center;
top: 0;
left: 0;
bottom: 0;
right: 0;
display: block;
z-index: 900;
background-color: rgba(255, 255, 255, .97);
width: 100%;
padding: 0;
margin: 0;
border: 0; }


.overlays:before { content: '';
display: inline-block;
height: 100%;
vertical-align: middle; }


.overlay--dark { 
  background-color: rgba(0, 0, 0, .6); 
  }

.button--close {
  font-size: 32px;
  font-family: medium-ui-sans-serif-text-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  right: 0
}

.overlay--dark .button--close { 
  background-color: transparent;
  border: 0;
  color: #fff
}

.overlay-dialog {
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  overflow: hidden;
  text-align: center;
}

.overlay--dark .overlay-dialog {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .44);
  padding: 0;
  max-width: 600px
}

.overlay-dialog h1 {
  text-align: left;
  font-size: 36px;
  font-weight: bold;
  padding: 0px 72px;
  margin: 0;
  margin-bottom: 20px;
}

.overlay-dialog h2 {
  text-align: left;
  font-size: 24px;
  padding: 0px 72px;
  margin: 0;
  font-weight: normal;
}

.overlay-dialog p {
  text-align: left;
  padding: 0px 72px;
}

.overlay-dialog .signin-logo {
  width: 100%;
  background-color: #005EB8;
  margin-bottom: 20px;
}

.signin-logo img {
  margin: 45px;
}

.overlay-dialog button {
  width: 456px;
  height: 58px;
  text-align: left;
  padding-left: 105px;
  margin-bottom: 20px;
  font-size: 20px;
}

.overlay-dialog button:hover {
  outline-style: solid;
  outline-color: #fada8b;
  outline-width: 5px;
  cursor: pointer;
}

.overlay-dialog button span {
  font-size: 14px;
  display: block;
}

button.button-nhs {
  background: #005eb8 url('../images/nhs-sm.png') no-repeat 17px 13px;
  border: 1px solid #01498f;
  color: #fff;
}

button.button-verify {
  background: #fff url('../images/verify-sm.png') no-repeat 21px 9px;
  border: 1px solid #ababab;
  color: #000;
}

button.button-fb {
  background: #3c5798 url('../images/fb-sm.png') no-repeat 21px 13px;
  border: 1px solid #01498f;
  color: #fff;
  font-size: 17px;
}

button.button-google {
  background: #fff url('../images/google-sm.png') no-repeat 16px 13px;
  border: 1px solid #ababab;
  color: #000;
}

button.button-twitter {
  background: #58aaee url('../images/twitter-sm.png') no-repeat 13px 13px;
  border: 1px solid #3e9fef;
  color: #fff;
  font-size: 17px;
}

.social-box {
  border-top: #ababab 1px dashed;
  border-bottom: #ababab 1px dashed;
  margin: 0 auto;
  max-width: 456px;
  padding-top: 20px;
}

p.help-links {
  text-align: center;
}

input.code {
  width: 50%;
}
p.help-links a {
  font-size: 14px;
}
.account {
  width: 100%;
  border-top: 1px solid #ababab;
}
.account-row {
  padding: 0 10px;
}
.account-row.zebra {
  background-color: #e6e6e6;
}
.account .acc-name {
  display: inline-block;
  width: 70%;
}
.account .acc-connect {
display: inline-block;
width: 29%;
}
.account .acc-connect img {
  float: right;
  margin-top: 5px;
}


.call-out { padding: 32px; }

.component-primary-care {
  border: 8px solid #0072ce;
}
p.small, li.small {
  font-size: 16px;
  line-height: 1em;
}