{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block pageTitle %}Offline Vouching Identity Service{% endblock %}

{% block content %}

<div class="header-panel">
  <h1>
    Offline Vouching Identity Service (OVIS)
  </h1>

</div>

<p>This service is for clinicians.</p>

<p>Use this service to:</p>
<ul>
  <li>Generate a token of trust for a patient</li>
</ul>

<div class="cta shunt">
  <a href="national07/vouching-1" class="button">Start</a>
</div>

</div>

{% endblock %}

{% block footer %}{% endblock %}