{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Manage and view your health information{{serviceName}}{% endblock %}

{% block pageTitle %}Manage and view your health information{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset >
        <h1><legend>Personal Details</legend></h1>
        <div class="form-group">
          <label class="form-label" for="fullName">Full Name</label>
          <input type="text" name="fullName" id="fullName" class="form-control" />
        </div>

        <div class="form-group -date">
          <div style="margin-top:0">
            <label for="dob-day">Day</label>
            <input type="text" id="dob-day" name="dob-day" value="{{ session.dob.day }}" class="day" maxlength="2">
          </div>
          <div style="margin-top:0">
            <label for="dob-month">Month</label>
            <input type="text" id="dob-month" name="dob-month" value="{{ session.dob.month }}" class="month" maxlength="2">
          </div>
          <div style="margin-top:0">
            <label for="dob-year">Year</label>
            <input type="text" id="dob-year" name="dob-year" value="{{ session.dob.year }}" class="year" maxlength="4">
          </div>
        </div>

        <div class="form-group">
          <div class="form-group" style="clear:both">
            <label class="form-label" for="fullName">Address</label>
            <input type="text" name="fullName" id="fullName" class="form-control" />
          </div>
          <div class="form-group">
              <label class="form-label" for="fullName">Address</label>
              <input type="text" name="fullName" id="fullName" class="form-control" />
            </div>
        </div>
          
          




        <!-- <ul>
          <li>Verify - highest level</li>
          <li>Patient Online </li>
        </ul> -->

        <!-- 
          <div style="display: inline-block; margin-right: 50px;">
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="/national06/verify">
            Verify
          </label>
        </div>
        <div style="display: inline-block;">
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/national06/pol">
            Patient Online
          </label>
        </div>
        <div style="display: inline-block;">
          <label class="block-label selection-button-radio" for="radio-inline-3">
            <input id="radio-inline-3" type="radio" name="radio-inline-group" value="/national06/offline">
            None of the above
          </label>
        </div>
      -->
      </fieldset>
    </div>
    <div class="form-group">
      <p><a href="pol-details" class="button" id="continue">Continue</a></p>
    </div>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}