{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block pageTitle %}Offline Vouching Identity Service{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Are you happy to vouch for this person?</legend></h1>
        
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="vouching-2">
            Yes
          </label>
        </div>
        
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="vouching-2">
            No
          </label>
        </div>
      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>

    <h3>Disclaimer</h3>
    <p>By using this service you are blah blah blah</p>

    <h3>What is vouching</h3>
    <p>blah blah blah</p>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}