{% extends '_layouts/layout_2-3_1-3_hybrid.html' %}

{% block page_title %}
  Hybrid
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/hybrid/accepting-patients.html' %}
  {% include '_includes/hybrid/location.html' %}
  {% include '_includes/hybrid/reception-opening-times.html' %}
  <hr style="margin-top:40px;" />
  {% include '_includes/hybrid/location-map.html' %}
  <hr style="margin-top:40px;" />
  {% include '_includes/hybrid/tasks.html' %}
  {% include '_includes/hybrid/need-help-quickly-mobile.html' %}
  <hr style="margin-top:40px;" />
  {% include '_includes/hybrid/when-you-can-see-a-gp.html' %}
  <hr style="margin-top:40px;" />
  {% include '_includes/hybrid/what-patients-say.html' %}
  <hr style="margin-top:40px;" />
  {% include '_includes/hybrid/what-patients-think.html' %}
  <hr style="margin-top:40px;" />
  {% include '_includes/hybrid/staff-at-this-surgery.html' %}
  <hr style="margin-top:40px;" />
  {% include '_includes/hybrid/services-clinics.html' %}
  <hr style="margin-top:40px;" />
  {% include '_includes/hybrid/facilities.html' %}
{% endblock content %}

{% block rightColumn %}
    {% include '_includes/hybrid/need-help-quickly-desktop.html' %}
{% endblock rightColumn %}
