{% extends '_layouts/layout_mvp-v1.html' %}

{% block page_title %}
  MVP 1.1
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block leftHalf %}
  {% include '_includes/mvp-v1_1/address.html' %}
{% endblock %}

{% block rightHalf %}
  {% include '_includes/mvp-v1_1/contact.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/mvp-v1_1/anchor-links.html' %}
  <hr/>
  <div id="when-the-reception-is-open">{% include '_includes/mvp-v1_1/when-the-reception-is-open.html' %}</div>
  <hr/>
  <div id="when-to-see-a-gp">{% include '_includes/mvp-v1_1/when-gp-see-patients.html' %}</div>
  <hr/>
  <div id="tasks">{% include '_includes/mvp-v1_1/tasks.html' %}</div>
  <hr/>
  <div id="patients-stats">{% include '_includes/mvp-v1_1/what-patients-say-about-this-surgery.html' %}</div>
  <hr/>
  <div id="healthcare-staff">{% include '_includes/mvp-v1_1/healthcare-staff-at-this-surgery.html' %}</div>
  <hr/>
  <div id="specialied-services">{% include '_includes/mvp-v1_1/specialised-services.html' %}</div>
  <hr/>
  <div id="facilities">{% include '_includes/mvp-v1_1/facilities.html' %}</div>
  <hr/>
  <div id="register">{% include '_includes/mvp-v1_1/register-as-patient.html' %}
{% endblock content %}
