{% extends '_layouts/layout_3-3_title_block.html' %}

{% block page_title %}
  Non-registered
{% endblock page_title %}

{% block pageTitle %}
  Kenyon Medical Centres: Brandon Road
{% endblock pageTitle %}

{% block acceptingPatients %}
  {% include '_includes/non-registered-v2/accepting-patients.html' %}
{% endblock %}

{% block pageIntro %}
  test link 1<br/>
  test link 2<br/>
  test link 3<br/>
{% endblock %}

{% block leftHalf %}
  {% include '_includes/non-registered-v2/location.html' %}
{% endblock %}

{% block rightHalf %}
  {% include '_includes/non-registered-v2/contact-details.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/non-registered-v2/location-map.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/non-registered-v2/reception-opening-times.html' %}
  {% include '_includes/non-registered-v2/when-you-can-see-a-gp.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/non-registered-v2/patient-stats.html' %}
  {% include '_includes/non-registered-v2/staff-at-this-surgery.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/non-registered-v2/specialised-services.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/non-registered-v2/facilities.html' %}
  <hr class="hr--full-width" style="margin:40px 0;" />
  {% include '_includes/non-registered-v2/register.html' %}
{% endblock content %}
