{% extends '_layouts/layout_2-3_1-3_v6.html' %}

{% block page_title %}
  V2
{% endblock page_title %}

{% block pageTitle %}
  Meanwood Group Practice
{% endblock pageTitle %}

{% block surgeryInfo %}
  {% include '_includes/archive/v6/contact-details.html' %}
{% endblock %}

<!-- Main content here -->
{% block content %}
  {% include '_includes/archive/v6/opening-times.html' %}
  <hr class="hr--full-width" />
  <h2>What would you like to do?</h2>
  {% include '_includes/archive/v6/what-would-you-like-to-do.html' %}
{% endblock content %}

<!-- Right hand column goes here -->
{% block rightColumn %}

{% endblock rightColumn %}
