<h2 style="margin-bottom:24px;">When GPs see patients</h2>
  <table>
      <tbody>
          <tr>
              <td>Monday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
          </tr>
          <tr>
              <td>Tuesday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
          </tr>
          <tr>
              <td>Wednesday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
          </tr>
          <tr>
              <td>Thursday</td>
              <td>8am <br class="br__table"/>to 1:30pm</td>
              <td></td>
          </tr>
          <tr>
              <td>Friday</td>
              <td>8am <br class="br__table"/>to 1pm</td>
              <td>3pm <br class="br__table"/>to 6pm</td>
          </tr>
          <tr>
              <td>Saturday</td>
              <td>9:30am <br class="br__table"/>to 12:30pm</td>
              <td> </td>
          </tr>
          <tr>
              <td>Sunday</td>
              <td>9:30am <br class="br__table"/>to 12:30pm</td>
              <td> </td>
          </tr>

      </tbody>
  </table>

  <p>Registered patients can also:</p>
  <ul>
    <li><p>call reception at 8am Monday to Friday to ask for a same-day appointment</p></li>
    <li><p>book a week in advance for early morning appointments, Monday, Wednesday and Friday, 7am to 7:50am</p></li>
    <li><p>book appointments at the practice's other surgery, <a>Kenyon Medical Centre: Chace Avenue</p></a></li>
  </ul>
