{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}GP Invite System{{serviceName}}{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <span class="section-header">Invite system</span>

        <h1 class="heading-xlarge"><legend>Is the patient capable of using this service?</legend></h1>

        <p>This includes being:</p>
        <ul>
          <li>willing to manage their own health online</li>
          <li>of sound mind to be able to do that</li>
        </ul>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="/alpha05/beta-invite2">
            Yes
          </label>
        </div>
        <div style="display: inline-block;">
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/alpha05/not-allowed">
            No
          </label>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" id="continue">Continue</a>
    </div>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}

