{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Create an NHS Account{{serviceName}}{% endblock %}

{% block pageTitle %}Create an NHS Account{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="callout callout--error">
      <h3>You need to validate your email address before you can log in. Please check your email.</h3>
    </div>

    <h1>Validate your email</h1>

    <p>If you haven't received an email yet check your spam folder.</p>
    <p>You can ask for the <a href="#">email to be resent here</a>.</p>

    <p><a href="acc-login">Login to your NHS account.</a></p>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}