{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Create an NHS Account{{serviceName}}{% endblock %}

{% block pageTitle %}Create an NHS Account{% endblock %}

{% block content %}

<div class="first-item">

  <div class="form-group">

    <h1>Validate your email</h1>

    <p>We need to validate your email address. Please check your email.</p>
    <p>If you haven't received the email check your spam folder or <a href="resent-email">click here to send another one</a>.</p>
    <p>You have 48 hours to validate your email before the link is deactivated.</p>

  </div>
    
</div>

{% endblock %}

{% block footer %}{% endblock %}
