{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}My NHS Account{{serviceName}}{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      
        <span class="section-header">Forgotten password</span>

        <h1><legend>Check your email</legend></h1>

        <p>We have sent you instructions on how to reset your password to your email.</p>
        <p>You have 48 hours to reset your password before the link is deactivated.</p>

    </div>

    <section class="form-group">
      <fieldset>
        <h1><legend>Login to your NHS Account</legend></h1>

        <div class="form-group">
          <label class="form-label" for="field3">Email Address</label>
          <input class="form-control" id="field3" name="field3" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="field2">Password</label>
          <input class="form-control" id="field2" name="field2" type="text">
        </div>
        
      </fieldset>
    </section>

    <a class="button" href="dashboard">Login</a>
    
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}

