{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Create an NHS Account{{serviceName}}{% endblock %}

{% block pageTitle %}Create an NHS Account{% endblock %}

{% block content %}

<div class="first-item">

  <div class="form-group">

    <h1><legend>This is your 3rd attempt</legend></h1>

    <p>If you still haven't received an email from us please can you email <a href="mailto:michael.tattersall@nhs.net">Michael.Tattersall@nhs.net</a> or call 07402 833373.</p>
    <p><a href="acc-login">You can login to your NHS account here</a>.</p>

  </div>
    
</div>

{% endblock %}

{% block footer %}{% endblock %}
