{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Create an NHS Account{{serviceName}}{% endblock %}

{% block pageTitle %}Create an NHS Account{% endblock %}

{% block content %}

<div class="first-item">

  <div class="form-group">

    <h1>Validate email link has expired</h1>

    <p>We are sorry but your validate email link has expired.</p>
    <p>You must validate your email within 48 hours from requesting it.</p>

    <p><a href="create-acc">Create an account.</a></p>

  </div>
    
</div>

{% endblock %}

{% block footer %}{% endblock %}
